# Build related items
build/*
*.out
*.o

# Development / IDE
.vscode
.idea

#macOS
.DS_Store

# Ignore cmake-build-debug directories everywhere in the project
cmake-build-debug/

# Ignore build directories of example projects
examples/*/build/